.header1 {
    display: block;
    width: auto;
    height: auto;
}
.footer2 {  
  display: block;
 height: auto;
 justify-content: flex-end;
 margin-right: 200px;
}
.banner {
    display: block;
    width: auto;
    height: auto;
}
.herramientas{
    display: flex;
    height: auto;
    justify-content: flex-end;
    margin-right: 200px;
    margin-bottom: 0%;
    margin-top: 100%;
}

body {
    font-family: 'Arial',
}

.avatares {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.oval-image {
    background: #fff;
    border-radius: 50%;
    width: 179px;
    height: 99px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20%;

}

.oval-image img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    background-color: transparent;
    transition: opacity 0.5s ease;
    
    opacity: 0;

}


.oval-image:hover .name,
.oval-image:hover img {
    opacity: 0;
}


.oval-image:hover .name {
    opacity: 1;
    background-color: inherit;
}

#avatar-killbill {
    background-color: #a80dc7;
}

#avatar-nacho {
    background-color: #3498db;
}

#avatar-neo {
    background-color: #2ecc71;
}


.frases-avatares {
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -20%);
  }
  
  .frases-avatares span {
    justify-content: space-between;
    margin-left: 200px;
  }

