.header1 {
    display: block;
    width: auto;
    height: auto;
}
.footer2 {  
  display: block;
 height: auto;
 margin-top: 800px;
 justify-content: flex-end;
 margin-right: 200px;
}
.banner {
    display: block;
    width: auto;
    height: auto;
}
    
