.header1 {
    display: block;
    width: auto;
    height: auto;
}
.footer2 {  
  display: block;
 height: auto;
 justify-content: flex-end;
 margin-right: 200px;
}
.banner {
    display: block;
    width: auto;
    height: auto;
}
.herramientas{
    display: flex;
    height: auto;
    justify-content: flex-end;
    margin-right: 200px;
    margin-bottom: 0%;
    margin-top: 100%;
}